/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole container generale */

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float:left;
}

/* REGOLE DESKTOP */

@media screen and (min-width:992px) {

  #wrapper {
    width: 80%;
    margin: 0 auto;
  }

/* regole di colonna */

  .col-lg-1 {
    width: calc((1/12)*100%);
  }

  .col-lg-2 {
    width: calc((2/12)*100%);
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: calc((4/12)*100%);
  }

  .col-lg-5 {
    width: calc((5/12)*100%);
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: calc((7/12)*100%);
  }

  .col-lg-8 {
    width: calc((8/12)*100%);
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: calc((10/12)*100%);
  }

  .col-lg-11 {
    width: calc((11/12)*100%);
  }

  .col-lg-12 {
    width: calc((12/12)*100%);
  }

  /* regole di offset */

  .col-lg-offset-1 {
    margin-left: calc((1/12)*100%);
  }

  .col-lg-offset-2 {
    margin-left: calc((2/12)*100%);
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: calc((4/12)*100%);
  }

  .col-lg-offset-5 {
    margin-left: calc((5/12)*100%);
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: calc((7/12)*100%);
  }

  .col-lg-offset-8 {
    margin-left: calc((8/12)*100%);
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: calc((10/12)*100%);
  }

  .col-lg-offset-11 {
    margin-left: calc((11/12)*100%);
  }

  .col-lg-offset-12 {
    margin-left: calc((12/12)*100%);
  }

}

/* REGOLE TABLET */

@media screen and (min-width: 768px) and (max-width: 991px) {

#wrapper {
  width: 90%;
  margin: 0 auto;
}

/* regole di colonna */

  .col-md-1 {
    width: calc((1/12)*100%);
  }

  .col-md-2 {
    width: calc((2/12)*100%);
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: calc((4/12)*100%);
  }

  .col-md-5 {
    width: calc((5/12)*100%);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc((7/12)*100%);
  }

  .col-md-8 {
    width: calc((8/12)*100%);
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: calc((10/12)*100%);
  }

  .col-md-11 {
    width: calc((11/12)*100%);
  }

  .col-md-12 {
    width: calc((12/12)*100%);
  }

  /* regole di offset */

  .col-md-offset-1 {
    margin-left: calc((1/12)*100%);
  }

  .col-md-offset-2 {
    margin-left: calc((2/12)*100%);
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: calc((4/12)*100%);
  }

  .col-md-offset-5 {
    margin-left: calc((5/12)*100%);
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: calc((7/12)*100%);
  }

  .col-md-offset-8 {
    margin-left: calc((8/12)*100%);
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: calc((10/12)*100%);
  }

  .col-md-offset-11 {
    margin-left: calc((11/12)*100%);
  }

  .col-md-offset-12 {
    margin-left: calc((12/12)*100%);
  }

}

/* REGOLE SMARTPHONE */

@media screen and (max-width:767px) {

#wrapper {
  width: 100%;
  margin: 0 auto;
}

/* regole di colonna */

  .col-xs-1 {
    width: calc((1/12)*100%);
  }

  .col-xs-2 {
    width: calc((2/12)*100%);
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: calc((4/12)*100%);
  }

  .col-xs-5 {
    width: calc((5/12)*100%);
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: calc((7/12)*100%);
  }

  .col-xs-8 {
    width: calc((8/12)*100%);
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: calc((10/12)*100%);
  }

  .col-xs-11 {
    width: calc((11/12)*100%);
  }

  .col-xs-12 {
    width: calc((12/12)*100%);
  }

  /* regole di offset */

  .col-xs-offset-1 {
    margin-left: calc((1/12)*100%);
  }

  .col-xs-offset-2 {
    margin-left: calc((2/12)*100%);
  }

  .col-xs-offset-3 {
    margin-left: 25%;
  }

  .col-xs-offset-4 {
    margin-left: calc((4/12)*100%);
  }

  .col-xs-offset-5 {
    margin-left: calc((5/12)*100%);
  }

  .col-xs-offset-6 {
    margin-left: 50%;
  }

  .col-xs-offset-7 {
    margin-left: calc((7/12)*100%);
  }

  .col-xs-offset-8 {
    margin-left: calc((8/12)*100%);
  }

  .col-xs-offset-9 {
    margin-left: 75%;
  }

  .col-xs-offset-10 {
    margin-left: calc((10/12)*100%);
  }

  .col-xs-offset-11 {
    margin-left: calc((11/12)*100%);
  }

  .col-xs-offset-12 {
    margin-left: calc((12/12)*100%);
  }

}
